{% include 'header.html' %}

{% include 'menu.html' %}

<div id="wrapper" data-critic-id="{{ critic.id }}" class="row">

  <div class="col-xs-12 col-sm-4">
    {% include 'critic.html' %}
  </div>

  <div class="col-xs-12 col-sm-4">
    <p>Rating similarity: {{ (20 * critic.rating_similarity) | round | int }}%</p>
    <p>Acceptability: {{ (100 * critic.acceptability) | round | int }}%</p>
    <p>Samesidedness: {{ (100 * critic.samesidedness) | round | int }}%</p>
    <p>Shared reviews: {{ critic.num_shared_reviews }}</p>

    <a href="{{ critic.rotten_tomatoes_link() }}" target="_blank">Rotten Tomatoes <img src="/images/external-link.png" class="external-link" /></a>
  </div>

</div>

<div class="row">
  {% for movie in movies %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {% include 'movie.html' %}
  </div>
  {% endfor %}
</div>

{% include 'footer.html' %}
