{% include 'header.html' %}

{% include 'menu.html' %}

<div class="row page-title">
  <h1 class="col-xs-12">Discover</h1>
  <p class="explanation col-xs-12">Recommended movies from your 24 most similar critics. You can narrow down the recommendations in <a href="/filter">Filter</a>. Click the <strong style="color: green">green</strong> stars to rate movies you have already seen.</p>
</div>

<div class="row" id="discover-movies">
  {% for movie in movies %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {% include 'movie.html' %}
  </div>
  {% endfor %}
  {% if not movies %}
  <p class="col-xs-12 important">
    {% if user.has_similar_critics() %}
    We can't find any more movies! Try broadening the <a href="/filter">filter</a>.
    {% else %}
    We haven't found your top critics yet. Try <a href="/curate">reviewing some more movies</a>.
    {% endif %}
  </p>
  {% endif %}
</div>

{% include 'footer.html' %}
