{% include 'header.html' %}

{% include 'menu.html' %}

<div class="row">

  <form id="form" class="col-xs-12" method="POST" action="/filter">

    <div id="genres">
      <div class="row">
        <div class="col-xs-6 col-sm-1">
          <h3>Genres</h3>
        </div>
        <div class="col-xs-6">
          <a href="#" class="enable-disable-all">Enable all</a>
        </div>
      </div>
      <div class="row">
        {% for genre in genres %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <label class="checkbox-inline">
            <input type="checkbox" value="{{ genre }}" name="genre" {% if genre in filter.genres %}checked="checked"{% endif %}> {{ genre | capitalize }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="decades">
      <div class="row">
        <div class="col-xs-6 col-sm-1">
          <h3>Decades</h3>
        </div>
        <div class="col-xs-6">
          <a href="#" class="enable-disable-all">Enable all</a>
        </div>
      </div>
      <div class="row">
        {% for decade in decades %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <label class="checkbox-inline">
            <input type="checkbox" value="{{ decade }}" name="decade" {% if decade in filter.decades %}checked="checked"{% endif %}> {{ decade }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="ratings">
      <div class="row">
        <div class="col-xs-6 col-sm-1">
          <h3>Ratings</h3>
        </div>
        <div class="col-xs-6">
          <a href="#" class="enable-disable-all">Enable all</a>
        </div>
      </div>
      <div class="row">
        {% for star in range(1, 6, 1) %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <label class="checkbox-inline">
            <input type="checkbox" value="{{ star }}" name="star" {% if star in filter.stars %}checked="checked"{% endif %}> {{ star }} stars
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="row" id="submit">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-default">Update filter</button>
      </div>
    </div>

  </form>

</div>

{% include 'footer.html' %}
