<div class="row" id="footer">
  <div class="col-xs-12">
    <p class="text-right">{% if request.path != '/' %}<a href="/log-out">log out {{ user.username }}</a>&nbsp;&nbsp; - &nbsp;&nbsp;<!-- <a target="_blank" href="/data-dump">download data</a>&nbsp;&nbsp; - &nbsp;&nbsp;-->{% endif %}<a target="_blank" href="https://github.com/andreasjansson/movie-recs">by andreas</a></p>
  </div>
</div>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.
min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

  </body>
</html>
