<div id="menu" class="row">
  <div class="col-xs-6 col-sm-4 col-md-2">
    <a href="/curate">Curate</a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-2">
    <a href="/discover">Discover</a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-2">
    <a href="/saves">Saves</a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-2">
    <a href="/your24">Your 24</a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-2">
    <a href="/search">Search</a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-2">
    <a href="/filter">Filter</a>
  </div>
</div>
