{% include 'header.html' %}

{% include 'menu.html' %}

<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    {% include 'movie.html' %}

    <div class="save-skip">
      {% if movie.saved %}
      <a class="ajax-movie-control" href="/movie/{{ movie.id }}/unsave">Un-save</a>
      {% endif %}
      {% if movie.skipped %}
      <a class="ajax-movie-control" href="/movie/{{ movie.id }}/unskip">Un-skip</a>
      {% endif %}

      {% if movie.user_rating %}
      <a class="ajax-movie-control" href="/movie/{{ movie.id }}/unrate">Un-rate</a>
      {% endif %}
    </div>

  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4" id="movie-info">
    <h1>Movie info</h1>
    <p id="movie-year">Year: {{ movie.year }}</p>
    {% if movie.director %}
    <p id="movie-director">Director: <a href="/director/{{ movie.director_id() }}">{{ movie.director }}</a></p>
    {% endif %}
    {% if movie.duration %}
    <p id="movie-duration">Running time: {{ movie.duration }}</p>
    {% endif %}
    {% if movie.genres %}
    <p id="movie-genres">Genres: {{ movie.genres | join(', ') }}</p>
    {% endif %}
    {% if movie.has_actors() %}
    <p id="movie-actors">Actors: {{ movie.actor_links() | safe }}</p>
    {% endif %}
    <p><a href="{{ movie.rotten_tomatoes_link() }}" target="_blank">Rotten Tomatoes <img src="/images/external-link.png" class="external-link" /></a></p>
    {% if movie.plot %}
    <p id="movie-plot">{{ movie.plot | truncate(300) }}
    {% if movie.plot | length > 300 %}<a href="#" id="show-full-plot">Show more</a>{% endif %}</p>
    <p style="display: none" id="movie-plot-long">{{ movie.plot }}</p>
    {% endif %}
  </div>

</div>

<div class="row">
  <h2 class="col-xs-12">Reviews</h2>
  {% for critic, rating in movie.reviews.items() %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 critic">
    {% include 'critic.html' %}

    <div class="critic-stars stars" style="width: {{ 50 * rating }}px">
      <div class="stars-wrapper" title="Rating: {{ rating | round(1) }}">
        {% for _ in range(5) %}<img class="star" src="/images/star.png" />{% endfor %}
      </div>
    </div>


  </div>
  {% endfor %}
</div>

{% include 'footer.html' %}
