{% include 'header.html' %}

<a href="/tune?{{ session_param }}">Back to tuning</a>

<form action="/update-reviewer-options/{{ user.id }}?{{ session_param }}" method="POST">
{% include 'filter.html' %}
</form>

<h2>{{ user.name() }}</h2>

<ul>
  {% for movie in movies %}
  <li>
    {% include 'movie.html' %}
    <a href="/skip?id={{ movie.id }}&{{ session_param }}">Skip</a>
    <a href="/save?id={{ movie.id }}&{{ session_param }}">Save</a>
    {% for rating in [1, 2, 3, 4, 5] %}
    <a href="/rate?id={{ movie.id }}&rating={{ rating }}&{{ session_param }}">
      {{ rating }}
    </a>
    {% endfor %}
  </li>
  {% endfor %}
</ul>

{% include 'footer.html' %}
